/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* prettier-ignore */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html {
    font-size: 18pt;
    /* import below fonts from https://fonts.google.com/ */
    font-family: "Inter", sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: rgba(0, 0, 0, 0.9);
    color: var(--text-color-1);
    font-size: 16px;
  }
  /* prettier-ignore */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* prettier-ignore */
  input, button, textarea, select {
    font: inherit;
  }
  /* prettier-ignore */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* prettier-ignore */
  #root, #__next {
    isolation: isolate;
  }
  :root {
    --text-color-1: #fff;
    --text-color-2: #00ffc2;
    --background-color1: #fafaf0;
    --background-color2: #f5f4e4;
    --border-color: rgba(0, 0, 0, 0.2);
    --hover-color: #9daba9;
  }
   
  body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: scale(1);
    height: 100vh;
    width: 100vw;
    z-index: 0;
    /* use correct CSS property to have "background.svg" file under assets folder set as background image here */
    background-attachment: scroll;
  }
   
  code {
    font-family: "Courier New", monospace;
  }

header {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 100px;
  border-bottom: 1px solid rgba(177, 168, 168, 0.4);
}

.heading {
  width: 45%;
}

header p:last-child {
  margin: 0;
}

.button {
  border: 1px solid var(--text-color-2);
  width: 55%;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: var(--background-color2);
  border-style: solid;
  border-width: 1px;
  border-radius: 1.5rem;
  transition-duration: 0.5s;
}

.button:hover {
    background-color: grey;
    border-color: #fff;
    color: var(--text-color-1);
}

.button:active{
    scale: 1;
}

section{
  border-bottom: 1px solid rgba(177, 168, 168, 0.4);
}

.sections>.button {
  margin: 0 auto;
  width: 20%;
}

h6 {
  text-transform: uppercase;
  color: var(--text-color-2);
}

h2 {
  padding: 20px 0;
  font-size: 50px;
  color: var(--text-color-1);
}

p {
  font-size: 12px;
  padding: 10px 0;
  color: var(--text-color-1);
}

.images {
  width: 500px;
  text-align: center;
}

img {
  height: 600px;
  width: 100%;
  border: 1px solid var(--text-color-2);
  padding: 7px;
  border-radius: 10px;
}

.center {
  text-align: center;
  padding: 20px;
}

.items {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 70px 0;
}

.price {
  border: 1px solid;
  border-color: rgba(177, 168, 168, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 400px;
}

.border-right {
  border-right: 1px solid;
  border-color: rgba(177, 168, 168, 0.2);
}


.sections {
  padding: 70px 0;
  align-content: center;
}

.images1>img {
  height: 200px;
  width: 300px;
 
}

h4 {
  padding: 20px 0;
  color: var(--text-color-1);
}

.width {
  margin: 0 385px;
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  gap: 20px;
}

.symbol{
  border: 1px solid var(--text-color-2);
  padding: 7px;
  border-radius: 30px;
}

/* ================================= */
        /* MEDIA QUERY */
/* ================================= */


/* @media (max-width: 736px) {
 
    html {
        font-size: 11pt;
    }
    img{
      height: 100%;
      object-fit: cover;
    }

    .images{
        transform: rotate(90deg);
    }

    header{
      width: 100%;
      padding: 10px;
    }
    
    .heading{
      display: block;
      width: 100%;
   
    }

    .sections{
      width: 100%;
    }

} */
