/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* prettier-ignore */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html {
    font-size: 18pt;
    /* import below fonts from https://fonts.google.com/ */
    font-family: "Manrope", "Inter", sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /* prettier-ignore */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* prettier-ignore */
  input, button, textarea, select {
    font: inherit;
  }
  /* prettier-ignore */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* prettier-ignore */
  #root, #__next {
    isolation: isolate;
  }
  :root {
    --text-color-1: rgba(0, 0, 0, 0.529);
    --text-color-2: #000;
    --background-color1: #fafaf0;
    --background-color2: #f5f4e4;
    --border-color: rgba(0, 0, 0, 0.2);
    --hover-color: #9daba9;
  }
 
  /* common css */
  p{
    font-size: 18px;
    color: #9daba9;
    line-height: 35px;
    margin-bottom: 50px;
  }
 
  h4{
    font-size: 20px;
    font-weight: 20;
    margin-bottom: 10px;
    margin-top: 20px;
  }
 
  h2{
    align-items: center;
    font-size: 50px;
    font-weight: 300;
    color: #767670;
    margin-bottom: 30px;
  }
 
  span{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
 
  .btn{
    border-radius: 17px;
    padding:8px 22px;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: bold;
    border: 1px solid #c8c8c0;
    margin: 4% 0%;
    text-transform: uppercase;
}
.btn:hover{
    border: 1px solid var(--border-color);
    border-radius: 17px ;
    transition: 0.2s;
    padding: 9px 23px;
  }
.fa-brands, .fa-envelope {
    border: solid var(--border-color);
    color: var(--text-color-1);
    padding: 7px;
    border-radius: 35px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    margin: 0px 5px;
  }
 
  /* section 1 */
  .section1{
    margin: 200px;
    .head{
        align-items: center;
        font-size: 100px;
        font-weight: 300;
        color: #767670;
    }
    .btn{
        border-radius: 17px;
        padding:8px 22px;
        font-size: 12px;
        letter-spacing: 5px;
        font-weight: bold;
        border: 1px solid #c8c8c0;
        margin: 4% 0%;
        text-transform: uppercase;
    }
    .btn:hover{
        border: 1px solid var(--border-color);
        border-radius: 17px ;
        transition: 0.2s;
        padding: 9px 23px;
      }
  }
 
  .top{
    flex: 1 30px;
  }
 
  .section2{
    display: flex;
    background-color: #f5f4e4;
    justify-content: center;
    align-items: center;
    .first{
    margin: 20px;
    }
    .img1{
        object-fit: cover;
        width: 100%;
    }
  }
 
  .section3{
    display: flex;
    justify-content: center;
    align-items: center;
    .content1{
        text-align: justify;
        margin: 20px;
        width: 35%
    }
    .content2{
        text-align: justify;
        margin: 20px;
        width: 35%
    }
  }
 
  .section4{
    display: flex;
    background-color: #f5f4e4;
    justify-content: center;
    align-items: center;
    .four{
        margin: 25px;
    }
    .img2{
        object-fit: cover;
        width: 100%;
    }
  }
 
  .section5{
    display: flex;
    justify-content: center;
    align-items: center;
    .content1{
        text-align: justify;
        margin: 20px;
        width: 35%
    }
    .content2{
        text-align: justify;
        margin: 20px;
        width: 35%
    }
 
  }
 
  .section6{
    display: flex;
    background-color: #f5f4e4;
    justify-content: center;
    align-items: center;
    .first{
        margin: 20px;
    }
    .img3{
        object-fit: cover;
        width: 100%;
    }
  }
 
  footer{
    display: flex;
    align-items: center;
    margin: 200px;
    input{
        width: 63%;
        padding: 10px;
        color:#9daba9;
        border-radius: 17px;
        padding:8px 22px;
        font-size: 12px;
        letter-spacing: 8px;
        font-weight: bold;
        border: 1px solid;
        margin: 4% 0%;
    }
    .btn_footer{
        width: 20%;
        padding: 10px;
        color: #9daba9;
        background-color: #ffffff;
        border-radius: 17px;
        padding:8px 22px;
        font-size: 12px;
        letter-spacing: 5px;
        font-weight: bold;
        border: 1px solid #c8c8c0;
        margin: 4% 0%;
    }
    .btn_footer:hover{
        border: 1px solid #c8c8c0;
        border-radius: 6px ;
        transition: 0.2s;
        padding: 9px 23px;
    }
  }
 
 
  code {
    font-family: "Lucida Console", "Courier New", monospace;
  }
 
  @media (max-width: 1280px) {
    html {
      font-size: 13pt;
    }
  }
 
  @media (max-width: 736px) {
    html {
      font-size: 11pt;
    }
  }
 
  @media (max-width: 480px) {
  }