/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* prettier-ignore */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html {
    font-size: 18pt;
    /* import below fonts from https://fonts.google.com/ */
    font-family: "Manrope", "Inter", sans-serif;
  }
  body {
    background-color: var( --background-color1);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /* prettier-ignore */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* prettier-ignore */
  input, button, textarea, select {
    font: inherit;
  }
  /* prettier-ignore */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* prettier-ignore */
  #root, #__next {
    isolation: isolate;
  }
  :root {
    --text-color-1: rgba(0, 0, 0, 0.529);
    --text-color-2: #000;
    --background-color1: #fafaf0;
    --background-color2: #f5f4e4;
    --border-color: rgba(0, 0, 0, 0.2);
    --hover-color: #9daba9;
  }
   
  code {
    font-family: "Lucida Console", "Courier New", monospace;
  }
   
button{
    width: 130px;
    border-radius: 20px;
    background:#fafaf0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    letter-spacing: 3px;
    font-weight: 15;
    font-size: 13px;
    padding:5px;
    margin:10px;
    color: dimgray;
}
button:hover{
  background-color: #9daba9;
}

h1{
    font-weight: lighter;
    font-size: 60px;
    color:dimgray;
}
p{
    font-size: 13px;
    color: dimgray;
}
input{
    width:300px;
    border-radius:15px;
    font-size: 15px;
    margin:10px;
}
header,footer{
    background-color: #fafaf0;
    padding-left:170px;
    padding-top:80px;
    padding-bottom:80px;
}

.cont-image,.content{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:20px;
    padding-bottom: 50px;
}
.image{
    width:70%;

}
img{
    width: 100%;
    height:400px;
}

.content1{
    box-sizing: border-box;
    padding:50px;
}
h2,h6,p{
    color:dimgray;
}