/* 
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* prettier-ignore */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html {
    font-size: 18pt;
    /* import below fonts from https://fonts.google.com/ */
    font-family: "Manrope", "Inter", sans-serif;
  }
  body {
    color: var(--text-color-1);
    background-color: var(--background-color1);
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /* prettier-ignore */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* prettier-ignore */
  input, button, textarea, select {
    font: inherit;
  }
  /* prettier-ignore */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* prettier-ignore */
  #root, #__next {
    isolation: isolate;
  }
  :root {
    --text-color-1: rgba(0, 0, 0, 0.529);
    --text-color-2: #000;
    --background-color1: #fafaf0;
    --background-color2: #f5f4e4;
    --border-color: rgba(0, 0, 0, 0.2);
    --hover-color: #9daba9;
  }
  
  code {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  @media (max-width: 1280px) {
    html {
      font-size: 13pt;
    }
  }
  
  @media (max-width: 736px) {
    html {
      font-size: 11pt;
    }
  }
  
  @media (max-width: 480px) {
  }
  
  header, footer{
    
    box-sizing: border-box;
    padding: 80px;
  }
  
  .header1,.footer1 {
    padding: 30px 89px;
  }
  
  .header1 h1,.footer1 h1  {
    font-size: 70px;
    font-weight: 300;
    
  }
  
  
  em {
    color: var(--text-color-2);
    padding: 0 2px;
  } 
  
  
  input {
    border-radius: 50px;
    letter-spacing: 10px;
    background-color: #fafaf0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 10px;
    padding : 10px 25px 10px 25px;
  
  } 
  button {
    border-radius: 50px;
    letter-spacing: 5px;
    background-color: #fafaf0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 10px;
    padding : 10px 25px 10px 25px;
    
    
  }
  
  img {
    height: 525px;
    width: 800px;
  }
  
  h6,h1, p {
    padding-bottom: 20px;
  }
  
  
  h1{
    font-weight: 10;
    font-size: 30px;
  }
  
  .section1{
    background: var(--background-color2);
    width: 100%;
   
  }
   
  .section1 .sec1{
    top: 80px;
    padding: 10px;
    margin: 30px;
    width: 30%;

    
    display: inline-block;
    vertical-align: top;
    
   
  }

  .section1 .sec2{
 
    display: inline-block;
    vertical-align: top;
    width: 64%;
   
    
   }
  
  .section1  h1{
    font-size: 50px;
    font-weight: 100;
  }
   
  .section1  .btn{
    margin:30px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
   border-radius: 30%;
  }
   
  .section2{
    width: 100%;
    /* justify-content: center; */
    text-align: center;
    margin-top: 30px;
  }
   
   
  .section2 p{
    text-align: left;
  }
  .section2 .sec1{
   
   
    padding: 20px;
    margin: 30px;
    width: 30%;

    display: inline-block;
    vertical-align: top;
   
  }
  .section2 .sec2{
   
    padding: 20px;
    margin: 30px;
    width: 30%;

    display: inline-block;
    vertical-align: top;

  }
  .section2  h1{
    font-size: 50px;
    font-weight: 100;
  }
   
  .section2  .btn{
    margin: 20px;
    border-radius: 50px;
    letter-spacing: 5px;
    font-size: small;
    padding: 10px 20px;
    border: 2px solid var(--text-color-1) ;
  }
   
  .section3{
    background: var(--background-color2);
    width: 100%;
   
  }
   
  .section3 .sec1{
    top: 80px;
    padding: 10px;
    margin: 30px;
    width: 30%;


    display: inline-block;
    vertical-align: top;
    
   
  }

  .section3 .sec2{
 
    display: inline-block;
    vertical-align: top;
    width: 64%;
   }
  
  .section3  h1{
    font-size: 50px;
    font-weight: 100;
  }
   
  .section3  .btn{
    margin:30px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
   border-radius: 30%;
  }
  
  .section4{
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
   
   
  .section4 p{
    text-align: left;
  }
  .section4 .sec1{
   
   
    padding: 20px;
    margin: 30px;
    width: 30%;

    display: inline-block;
    vertical-align: top;

   
  }
  .section4 .sec2{
   
    padding: 20px;
    margin: 30px;
    width: 30%;

    display: inline-block;
    vertical-align: top;
    
  }
  .section4  h1{
    font-size: 50px;
    font-weight: 100;
  }
   
  .section4  .btn{
    margin: 20px;
    border-radius: 50px;
    letter-spacing: 5px;
    font-size: small;
    padding: 10px;
    border: 2px solid var(--text-color-1) ;
  }
  
  .section5{
    background: var(--background-color2);
    width: 100%;
   
  }
   
  .section5 .sec1{
    
    top: 80px;
    padding: 10px;
    margin: 30px;
    width: 30%;


    display: inline-block;
    vertical-align: top;

  
  }

  .section5 .sec2{
 
    display: inline-block;
    vertical-align: top;
    width: 64%;
   }

  .section5  h1{
    font-size: 50px;
    font-weight: 100;
  }
   
  .section5  .btn{
    margin:30px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
   border-radius: 30%;
  }

  @media (max-width:736px){
    header h1{
      font-size: 60px;
      font-weight: 13;
    }
     .section1 .sec1{
      position: relative;
      top:0;
      display:block;
      margin: auto;
      padding:0;
      width:55%;
      text-align: center;
   
     }
    .section1 .sec2{
      position:relative;
      display:block;
      width:100%;
    }
   
    .section2 .sec1{
      position:relative;
      top:0;
      padding:auto;
      display:block;
      margin:auto;
      width:50%;
   
    }
   
    .section2 .sec2{
      position:relative;
      top:0;
      padding:auto;
      display:block;
      margin:auto;
      width:50%;
   
    }
    .section3{
      width:787.51px;
    }
    .section3 .sec1{
      position:relative;
      display:block;
      width:787.51px;
      
    }
   
    .section3 .sec2{
      position:relative;
      top:0;
      display:block;
      margin:auto;
      padding:0;
      width:55%;
      text-align: center;
    }
   
    .section4 .sec1{
      position:relative;
      top:0;
      display:block;
      padding:auto;
      margin:auto;
      width:50%;
   
    }
    .section4 .sec2{
      position:relative;
      top:0;
      display:block;
      padding:auto;
      margin:auto;
      width:50%;
     
    }
   
    .section5 .sec1{
      position:relative;
      top:0;
      display:block;
      padding:auto;
      margin:auto;
      width:50%;
    }
    .section5 .sec2{
      position:relative;
      display:block;
      width:100%;
    }
   
    .footer h1{
      font-size: 40px;
      font-weight: 15;
    }
    .footer{
      position:relative;
      top:0;
      display:block;
      margin:0;
      padding-left:0px;
      width:100%;
    }
  }